{% extends 'base.html.twig' %}


{% block content %}

    <div class="container px-4 py-5">
    <h3 class="pb-2 border-bottom">Collections of {{ user.name }}</h3>

        {% for collection in collections %}

            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="col d-flex align-items-start">
                    <div>
                        <h2><a href="{{ path('collection_show', {id: user.id, collectionId: collection.id} ) }}"> {{ collection.name }}</a></h2>
                        <h4>{{ collection.getCategory.getName }}</h4>
                        {%  if collection.description %}
                        <p>


                                {{ collection.description | markdown_to_html }}

                        </p>
                        {%  endif %}
                        {% if owner %}
                            <a href="{{ path('collection_edit', {id: user.id, collectionId: collection.id} ) }}" class="btn btn-sm btn-primary">
                                Edit Collection
                            </a>
                            <a href="{{ path('item_add' , {id: user.id, collectionId: collection.id})}}" class="btn btn-sm btn-primary">
                                Add Item
                            </a>
                            <a href="{{ path('collection_remove' , {id: user.id, collectionId: collection.id})}}" class="btn btn-sm btn-primary">
                                Remove Collection
                            </a>
                        {% endif %}
                    </div>
                </div>

                </div>
    {% else %}
        <h2>No Collections!</h2>
        {%  if owner %}
            <div>Maybe you want to <a href="{{ path('collection_add', {'id': app.user.id}) }}">add one</a></div>
        {% endif %}
    {% endfor %}
    </div>

{% endblock %}
