{% extends 'base.html.twig' %}

{% block title %}Edit collection{{ collection.name }}{% endblock %}

{% block content %}
    <div class="container-xl d-flex justify-content-center">
        {{ form_start(CollectionForm) }}
        <div class="d-flex align-items-start p-2">
            <div class="container overflow-hidden">
                <div class="row gx-5">

                    {{ form_row(CollectionForm.name) }}
                    {{ form_row(CollectionForm.Category) }}
                </div>
            </div>
        </div>
        <div class="d-flex align-items-start p-2">
            <div class="container overflow-hidden">
                <h5 class="row py-4">
                    Custom string item properties:
                </h5>
                <div class="row gx-5" id="stringProperties">

                    {{ form_row(CollectionForm.string_property_name_1, { 'label': 'Custom string property #1' }) }}
                    {{ form_row(CollectionForm.string_property_name_2, { 'label': 'Custom string property #2' }) }}
                    {{ form_row(CollectionForm.string_property_name_3, { 'label': 'Custom string property #3' }) }}
                </div>

            </div>
        </div>
        <div class="d-flex align-items-start p-2">
            <div class="container overflow-hidden">
                <h5 class="row py-4">
                    Custom text item properties:
                </h5>
                <div class="row gx-5" id="textProperties">
                    {{ form_row(CollectionForm.text_property_name_1, { 'label': 'Custom text property name #1' }) }}
                    {{ form_row(CollectionForm.text_property_name_2, { 'label': 'Custom text property name #2' }) }}
                    {{ form_row(CollectionForm.text_property_name_3, { 'label': 'Custom text property name #3' }) }}
                </div>
            </div>
        </div>
        <div class="d-flex align-items-start p-2">
            <div class="container overflow-hidden">
                <h5 class="row py-4">
                    Custom numeric item properties:
                </h5>
                <div class="row gx-5" id="numericProperties">
                    {{ form_row(CollectionForm.numericPropertyName1, { 'label': 'Custom numeric property name #1' }) }}
                    {{ form_row(CollectionForm.numericPropertyName2, { 'label': 'Custom numeric property name #2' }) }}
                    {{ form_row(CollectionForm.numericPropertyName3, { 'label': 'Custom numeric property name #3' }) }}
                </div>
            </div>
        </div>
        <div class="d-flex align-items-start p-2">
            <div class="container overflow-hidden">
                <h5 class="row py-4">
                    Custom date item properties:
                </h5>
                <div class="row gx-5" id="dateProperties">
                    {{ form_row(CollectionForm.datePropertyName1, { 'label': 'Custom date property name #1' }) }}
                    {{ form_row(CollectionForm.datePropertyName2, { 'label': 'Custom date property name #2' }) }}
                    {{ form_row(CollectionForm.datePropertyName3, { 'label': 'Custom date property name #3' }) }}
                </div>
            </div>
        </div>
        <div class="d-flex align-items-start p-2">
            <div class="container overflow-hidden">
                <h5 class="row py-4">
                    Custom checkbox item properties:
                </h5>
                <div class="row gx-5" id="checkboxProperties">
                    {{ form_row(CollectionForm.boolPropertyName1, { 'label': 'Custom checkbox property name #1' }) }}
                    {{ form_row(CollectionForm.boolPropertyName2, { 'label': 'Custom checkbox property name #2' }) }}
                    {{ form_row(CollectionForm.boolPropertyName3, { 'label': 'Custom checkbox property name #3' }) }}
                </div>
            </div>
        </div>
        <div class="d-flex align-items-start p-2">
            <div class="container overflow-hidden">
                {{ form_row(CollectionForm.description, { 'label': 'Collection description(use markdown', 'cols': '100', 'rows': '40' })  }}
            </div>
        </div>
        <div class="d-flex align-items-start p-2">
        {{ form_rest(CollectionForm) }}
        </div>
    </div>
    <script>
        let inputs = document.querySelectorAll('input');
        for (let input of inputs) {
            if(!input.value){input.parentElement.hidden = true;}
        }
    </script>
{% endblock %}
