{% extends 'base.html.twig' %}

{% block title %}Edit item {{ item.name}} of {{ item.getParentCollection.name }} {% endblock %}

{% block content %}

    <div class="container-xl d-flex justify-content-center">
        {{ form_start(ItemForm) }}
        <div class="d-flex align-items-start p-2">
            <div class="container overflow-hidden">
                <div class="row gx-5">
                    {{ form_row(ItemForm.name) }}
                </div>
            </div>
        </div>
        <div class="d-flex align-items-start p-2">
            <div class="container overflow-hidden">
                <div class="row gx-5">
                    {%  for stringField in ItemForm.stringFields %}
                        {{ form_row(stringField, {"label": stringField.vars.value.name}) }}

                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="d-flex align-items-start p-2">
            <div class="container overflow-hidden">
                <div class="row gx-5">

                    {%  for textField in ItemForm.textFields %}
                        {{ form_row(textField, {"label": textField.vars.value.name}) }}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="d-flex align-items-start p-2">
            <div class="container overflow-hidden">
                <div class="row gx-5">
                    {%  for dateField in ItemForm.dateFields %}
                        {{ form_row(dateField.data, {"label": dateField.vars.value.name}) }}

                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="d-flex align-items-start p-2">
            <div class="container overflow-hidden">
                <div class="row gx-5">
                    {%  for numericField in ItemForm.numericFields %}
                        {{ form_row(numericField.data, {"label": numericField.vars.value.name}) }}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="d-flex align-items-start p-2">
            <div class="container overflow-hidden">
                <div class="row gx-5">
                    {%  for boolField in ItemForm.boolFields %}
                        {{ form_row(boolField.data, {"label": boolField.vars.value.name}) }}
                    {% endfor %}
                </div>
            </div>
        </div>
        {{ form_end(ItemForm) }}
    </div>
{% endblock %}
